<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a style="color: aquamarine;" class="navbar-brand" href="#">MOVIES</a>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="add-movies" style="color: aliceblue;" class="nav-link" href="#">Addmovies </a>
      </li>
      <li class="nav-item">
        <a style="color: aliceblue;" routerLink="movies-list" class="nav-link" href="#">Movieslist</a>
      </li>
      <li class="nav-item">
        <a style="color: aliceblue;" routerLink="movies-details" class="nav-link" href="#">Moviesdetails</a>
      </li>
    </div>
      </div>
</nav>
      <div class="container-md-3">
        <router-outlet></router-outlet>
      </div>
      